@inherits LayoutComponentBase
@inject AppState AppState


<div class="page">
    <div class="sidebar">
        <CascadingValue Value="@appState">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>

        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

        </div>

        <article class="content px-4">
            <CascadingValue Value="@currentTheme">
                <CascadingValue Value="@currentUser">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    [CascadingParameter(Name = "appState")]
    public AppState appState { get; set; }

    protected override void OnInitialized()
    {
        appState = new AppState();
        appState.Condition = "Ny";
    }

    private ThemeSettings currentTheme = new ThemeSettings
    {
            PrimaryColor = "#3498db",
            SecondaryColor = "#2ecc71",
            IsDarkMode = false
        };

    private UserInfo currentUser = new UserInfo
        {
            Username = "testbruger",
            Role = "Editor",
            PrefersDarkMode = false
        };
}