@page "/"
@rendermode InteractiveServer
@using GoTorz.Services
@using GoTorz.Model
@inject OfferService OfferService
@inject OfferResponse OfferResponse
@inject ILogger<Home> logger
@inject ILogger<Home> logger2
@inject NavigationManager Navigation
@inject IConfiguration Configuration


<PageTitle>Home</PageTitle>

<h1>Prøver lige at tjekke API</h1>
<p>Hej, her er respons: @offerResponse.Data.</p>
<p><button @onclick="Login">Login with Google</button></p>
@code {
    OfferResponse? offerResponse = null;
    protected override async void OnInitialized()
    {
        offerResponse = await OfferService.PostOfferAsync();
        logger.LogInformation("Home page visited");
        logger2.LogInformation("Trooooooooools");
    }

}
@code {
    private async Task Login()
    {
        Navigation.NavigateTo("/authentication/login", forceLoad: true);
    }


    private async Task Logout()
    {
        Navigation.NavigateTo("Local", forceLoad: true);
    }
}
