@using GoTorz.Services
@using GoTorz.Model
@page "/"
@rendermode InteractiveServer
@inject OfferService OfferService
@inject ILogger<Home> logger
@inject IConfiguration configuration


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="SendAPI">Test API</button>

@if(offerResponse!=null){
	<p>
		Id: @offerResponse.Data.OfferReponseId
	</p>
}
else{
	<p>
		Id: Venter på API-kald
	</p>
}


@code{

	private OfferResponse? offerResponse;
	private void SendAPI(MouseEventArgs e){
		offerResponse = OfferService.PostOfferAsync().Result;
		logger.LogInformation("Metoden bliver kaldt");


	}
}