<EditForm Model="flightsParam" OnValidSubmit="GetFlightsAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Vælg fly</h3>
    <div>
        <div>
            <OutboundFlightSearch FlightsParam="flightsParam" />
        </div>
        <div>
            <HomeboundFlightSearch FlightsParam="flightsParam"/>
        </div>
    </div>
    <button type="submit" name="Search">Search</button>
</EditForm>
@code {
    [Parameter]
    public HttpClient client { get; set; }
    [Parameter]
    public EventCallback<List<FlightDTO>> FlightOffers { get; set; }
    
    private FlightInput flightsParam = new FlightInput()
    {
        Origin = "CPH",
        Destination = "AAL",
        DepartureDate = new DateTime(2025, 07, 01),
        ReturnDate = new DateTime(2025, 07, 06),
    };

    private async Task GetFlightsAsync()
    {

        string jsonFlightParam = JsonSerializer.Serialize(ConvertFlightInputToFlightDTO());
        var content = new StringContent(jsonFlightParam, Encoding.UTF8, "application/json");

        var response = await client.PostAsync("https://localhost:7112/api/FlightBuilder/create", content);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<List<FlightDTO>>();
            await FlightOffers.InvokeAsync(result);
        }
        else
        {
            await FlightOffers.InvokeAsync(new List<FlightDTO>());
        }
    }
    private FlightDTO ConvertFlightInputToFlightDTO()
    {
        return new FlightDTO()
            {
                Origin = flightsParam.Origin,
                Destination = flightsParam.Destination,
                DepartureDate = flightsParam.DepartureDate,
                ReturnDate = flightsParam.ReturnDate
            };
    }
}
