.SearchElement {
    margin-right: 2rem;
}
.row {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 200px;
    flex-wrap: nowrap;
}
#flight-list {
    width: auto;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: aqua;
}
#BigSearch {
    display: flex;
    column-gap: 200px;
}
.SearchResult {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black !important;
    width: 300px;
    height: 300px;
    overflow: scroll;
}
.border-black {
        border: 2px solid black !important;
    }
