<h3>Booking Form</h3>

@using System.ComponentModel.DataAnnotations

<EditForm Model="@customer" OnValidSubmit="@ValidFormSubmitted" FormName="BookingForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="firstName" @bind-Value="customer.FirstName" placeholder="First Name"></InputText>
    <br />
    <InputText id="lastName" @bind-Value="customer.LastName" placeholder="Last Name"></InputText>
    <br />
    <InputText id="email" @bind-Value="customer.Email" placeholder="Email"></InputText>
    <br />
    <InputText id="phone" @bind-Value="customer.Phone" placeholder="Phone"></InputText>
    <br />
    <InputText id="age" @bind-Value="customer.Age" placeholder="Age"></InputText>
    <br />
    <input type="submit" value="Submit" />
</EditForm>

@code {
    Booking booking;
    Customer customer = new Customer();

    protected override void OnInitialized()
    {
        // Initialize booking with the customer instance.
        booking = new Booking(
            new List<Customer> 
            { 
                customer 
            }
        );
    }

    private void ValidFormSubmitted()
    {
        Console.WriteLine("Form Submitting");
        Console.WriteLine($"Booking lavet med: {booking.Customers.Count} antal personer");
    }
}
