@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<input type="text" id="myInput" @onkeyup="FilterList" placeholder="Search for names..">

<ul id="myUL">
    <li><a href="#">Adele</a></li>
    <li><a href="#">Agnes</a></li>

    <li><a href="#">Billy</a></li>
    <li><a href="#">Bob</a></li>

    <li><a href="#">Calvin</a></li>
    <li><a href="#">Christina</a></li>
    <li><a href="#">Cindy</a></li>
</ul>

@code {
    private IJSObjectReference? searchModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("OnAfterRenderAsync called.");
            searchModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Search.js");

        }

    }

    private async Task FilterList()
    {
        if (searchModule is not null)
        {
            await searchModule.InvokeVoidAsync("myFunction");
        }
    }
}
